html{
	scroll-behavior: smooth;
}

body{ 
margin:0px;
padding:0px;
overflow-x: scroll;
width: auto;
white-space: nowrap; 

}

h1{
	font-family: neue-haas-grotesk-display, sans-serif;
	font-weight: 600;
	font-style: normal;
	color:black;
	font-size: 30pt;
	line-height: 30pt;

	margin:0px;
	padding:10px;
}


.container{
	position:relative;
}
.row1{
width:100vw;
height:100vh;
display:block;

}

.row2{
width:100vw;
height:100%;
display:inline-block;

}
.playmusic{
	position:relative;

	width:400px;
	left:30%;
	top:25%;

	text-align:center;
	background-color:white;
	border:solid black 5px;
	border-radius: 25px;
}

.bordercontrols{
	text-align:center;
	background-color:transparent;
	border:solid black 5px;
	border-radius: 25px;
}

.baseblocks{
	height:1080px;
	width:100vw;

	display:inline-block;
	background-color:red;
	clear:none;
	position:absolute;

}

.flexrow{
	display:flex;
	/*we are now in flexbox*/
	/*WHAT ARE THE RULES. WHAT ARE THE RULLEESS */
	flex-direction:row;
	align-items:center;
}

.flexcol{
	display:flex;
	/*we are now in flexbox*/
	/*WHAT ARE THE RULES. WHAT ARE THE RULLEESS */
	flex-direction:column;
	align-content: center;
}

.centerhub{
	width:100%;
	height:100%;
}

.otherhubcntrl{
	position:relative;
	width:100%;
	height:15%;
	align-content: center;
}

.hub{
	height:85%;
	width:100%;
}
.texthub{
	position:relative;
	top:60%;
	left:30%;
	width:600px;

}

.pause{
	position:relative;
	width:700px;
	left:25%;
	top:60%;
}

.finetune{
	position:relative;

	width:100%;
	height:50%;
	top:5%;
}

.open{
	position:relative;
	width:650px;
	left:30%;
	top:25%;
}

.volup{
	position:relative;
	width:850px;
	left:20%;
	top:25%;
}

.pausebutt{
	width:200px;

	position:relative;
	left:40%;
}

.volume{
	width:250px;

	position:relative;
	left:65%;
	top:50%;
}
.skiptracking{
	position:relative;
	width:300px;
	left:20%;
}

.fifty{
	height:100%;
	top:50%;
	width:50%;
}

.full{
	width:100%;
	height:100%;
}

.marg{
	margin-bottom:20px;
}

.mess{
	width:1050px;

	position:relative;
	left:10%;
	top:80%;
	transform: rotate(-10deg);

}

.mess2{
	width:1050px;

	position:relative;
	left:20%;
	top:85%;

}

.mess3{
	width:500px;

	position:relative;
	left:40%;
	top:75%;
transform: rotate(10deg);
}

.mess4{
	width:1050px;

	position:relative;
	left:10%;
	top:65%;
transform: rotate(-2deg);
}

.mess5{
	width:500px;

	position:relative;
	left:20%;
	top:55%;
}

/*#svg{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#line{
  stroke-width:2px;
  stroke:rgb(0,0,0);
}*/



/*.four{
	background-color:sienna;
	height:1080px;
	width:100vw;
	float:right;
	display:inline-block;

}
*/

